ai/workflows.json
[
  {
    "nodes": [
      {
        "parameters": {
          "path": "recipe-gen"
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [250, 300]
      },
      {
        "parameters": {
          "model": "gpt-4o-mini",
          "messages": [
            {
              "role": "system",
              "content": "You are a chef. Generate a recipe JSON given ingredients."
            },
            {
              "role": "user",
              "content": "Ingredients: {{ $json[\"ingredients\"].join(\", \") }}\nRespond with:\n{\n  \"title\": \"Dish Name\",\n  \"steps\": [\"step1\", \"step2\", ...]\n}"
            }
          ]
        },
        "name": "OpenAI",
        "type": "n8n-nodes-base.openAi",
        "typeVersion": 1,
        "position": [450, 300]
      },
      {
        "parameters": {},
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.webhook-response",
        "typeVersion": 1,
        "position": [650, 300]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [[{ "node": "OpenAI", "type": "main", "index": 0 }]]
      },
      "OpenAI": {
        "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
      }
    }
  }
]
